*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    width: 600px;
    margin: 0 auto;
}
h1{
    background-color:rgb(43, 255, 89);
    text-align: center;
    padding: 1% 0;
    font-family: cursive;
    position: sticky;
    top: 0px;
    z-index: 4;
}
marquee{
    background-color:rgb(0, 68, 255);
    color: rgb(255, 255, 255);
}
.container{
    width:100%;
    margin: 0 auto;
}
.tracker{
    width: 100%;
    background-color:rgb(0, 255, 115);
    line-height: 2;
}
.flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.red{
    border:2px solid red;
    border-radius:25px;
}
.normal{
    padding: 20px;
    border-radius:25px;
}
.col-1{
    width: 100%;
    text-align: center;
}
.col-2{
    width:50%;
}
#income{
    color: green;
}
#expence{
    color: red;
}
.card{
    margin-top: 2%;
    width: 100%;
}
.card .col-1 h3{
    background-color:rgb(0, 255, 242) ;
    text-align: center;
    border:1px solid #000;
    padding:2% 0px;
}
label{
    color: grey;
    font-weight: bold;
}
input{
    padding:20px;
    border-radius: 25px;
    border:none;
    width:80%;
}
input:focus{
    border-color: gray;
}
button{
    padding: 20px;
    border:none;
    background-color:blue;
    border-radius: 25px;
    margin:20px;
    color: wheat;
    width: 80%;
    font-weight: bolder;
}
button:hover{
    opacity: 0.8;
}
ul{
    list-style: none;
}
li button{
    margin:0px;
    padding: 1.5% 2%;
    margin-left: 2%;
}
li button:hover{
    background-color: red;
    color: azure;
}
li{
    background-color:rgb(0, 132, 255);
    font-size: 30px;
    color: rgb(255, 255, 255);
    overflow: hidden;
}
li span{
    font-size: 30px;
    color:black;
}